{{template "base" .}}

{{define "content"}}
    <div id="main-carousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#main-carousel" data-slide-to="1"></li>
            <li data-target="#main-carousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/images/woman-laptop.png" class="d-block w-100" alt="Woman and laptop">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Woman and Laptop</h5>
                    <p>...</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/images/tray.png" class="d-block w-100" alt="Tray with coffee">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Tray with Coffee</h5>
                    <p>...</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="/static/images/outside.png" class="d-block w-100" alt="Outside">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Vacation to Remember</h5>
                    <p>...</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Welcome to Fort Smythe Bed and Breakfast</h1>
                <p>
                    Welcome to Fort Smythe Bed and Breakfast, a charming retreat where history meets comfort. Nestled in a picturesque setting, our B&B offers a cozy and inviting atmosphere, perfect for a relaxing getaway. Each room is thoughtfully decorated with a blend of classic elegance and modern amenities, ensuring a restful stay for all our guests.
                </p>
            </div>
        </div>


        <div class="row">

            <div class="col text-center">
                <a href="/search-availability" class="btn btn-success">Make Reservation Now</a>
            </div>
        </div>

    </div>
{{end}}
